In [3]:
tupla_numero = (10,20,30)
tupla_numero

(10, 20, 30)

In [7]:
tupla_numero = 10,20,30
tupla_numero

(10, 20, 30)

In [12]:
tupla_numero = 'caio', 'joao'
tupla_numero

('caio', 'joao')

In [15]:
tupla_elemento = 10
tupla_elemento

10

In [17]:
tupla_vazia = ()
tupla_vazia

()

In [19]:
nova_tupla = tuple('teste')
nova_tupla

('t', 'e', 's', 't', 'e')

In [23]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene','Cibele','Zuely')
tupla_nomes.count('Marlene')
print(tupla_nomes.count('Suely'))
print(tupla_nomes.count('Zezinho'))

0
1

In [26]:
# quantidade de vezes que o numero 4 aparece na lista (.count)
tupla_elemento = (1,2,2,3,4,4,4,5)
print(tupla_elemento.count(4))

3

In [29]:
# criando dicionario
dicio = {'chave': 'valor'}
print(type(dicio))

<class 'dict'>

In [57]:
d = {'laranjas' : 15, 'bananas' : 35, 'siriguela' : 12}
d['bananas']

35

In [39]:
# adicionou pimtoba a antiga lista 
d['pimtoba'] = 20
# numero de elementos len(d)
len(d)

4

In [40]:
# nova lista com pimtoba adicionado 
print(d)

{'laramja': 15, 'bananas': 35, 'siriguela': 12, 'pimtoba': 20}

In [42]:
# pimtoba esta no objeto d?
'pimtoba' in d

True

In [44]:
'pears' in d

False

In [58]:
# deletou laranja de d
del d['laranjas']

In [61]:
frutas = ['pinha',"oiti coró", 'jaca', 'tamarindo']

In [64]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [68]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [71]:
# pediu pra repetir o 0, 4 vezes 
print([0]*4)

[0, 0, 0, 0]

In [72]:
print([1,2,['oi','tchau']]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]