In [13]:
"""comentando codigo 
comentando codigo 
comentando codigo 

"""

'comentando codigo \ncomentando codigo \ncomentando codigo \n\n'

In [14]:
nomeCompleto= "caio"

In [15]:
idade1= 20
idade2= 35

somaIdades = idade1 + idade2
idade1 - idade2
idade1 * idade2
idade1 / idade2

0.5714285714285714

In [12]:
print(somaIdades)

print(idade1*idade2)

55
700

In [16]:
idade1 + 10

30

In [17]:
idade1 - 15

5

In [18]:
idade1* 4

80

In [19]:
2 *(idade1+idade2)

110

In [20]:
2 * idade1 + 3 * idade2 / 4

66.25

In [21]:
(2 * idade1 + 3 * idade2) / 4

36.25

In [ ]:
#Parêtesis
#Expoente
#Multiplicação
#Divisão
#Adição 
#Subtração

In [22]:
calculo1 = 2 *(idade1+idade2)
calculo2 = 2 * idade1 + 3 * idade2 / 4
calculo3 = (2 * idade1 + 3 * idade2) / 4

In [24]:
print(calculo1, calculo2, calculo3)

110 66.25 36.25

In [26]:
idade1 **2

400

In [27]:
15 ** 2

225

In [28]:
idade1 **3

8000

In [29]:
idade2 // idade1

1

In [30]:
idade2 / idade1

1.75

In [31]:
idade2 % idade1

15

In [34]:
nome = "caio"
sobrenome = "souza"

In [36]:
print(nome + sobrenome)

caiosouza

In [38]:
print(nome , sobrenome)

caio souza

In [42]:
print(nome +' '+ sobrenome)

caio souza

In [45]:
print('olá, ' , nome, 'você tem', idade1 + 15, 'anos.')

olá,  caio você tem 35 anos.

In [49]:
print('olá, ' , nome, '\n','você tem', idade1 + 15, 'anos.')

olá,  caio
 você tem 35 anos.

In [52]:
input('digite o seu nome: ')

'caio'

In [54]:
idade = input('digite sua idade:')

In [56]:
print(idade)

29

In [58]:
type(idade)

str

In [60]:
idade = int( input('digite sua idade:'))

In [62]:
type(idade)

int

In [63]:
print( idade + 2)

31