In [35]:

# foi osso 
incomodam = 'incomodam, '

for i in range(1, 11):
    if i % 2 == 0:
        if i == 2:
             print(i, 'elefantes ', incomodam * i  , 'muito mais!')
        else:
            print(i, 'elefantes',  incomodam * i ,'muito mais!')
        
    else:
        if i == 1:
            print(i, 'elefante incomoda muita gente')
        else:
            print(i, 'elefantes  incomodam muita gente!')

for i in reversed(range(1, 10)):
    if i % 2 == 0:
        if i == 2:
             print(i, 'elefantes ', incomodam * i  , 'muito mais!')
        else:
            print(i, 'elefantes',  incomodam * i ,'muito menos!')
        
    else:
        if i == 1:
            print(i, 'elefante incomoda muita gente')
        else:
            print(i, 'elefantes  incomodam muita gente!')

1 elefante incomoda muita gente
2 elefantes  incomodam, incomodam,  muito mais!
3 elefantes  incomodam muita gente!
4 elefantes incomodam, incomodam, incomodam, incomodam,  muito mais!
5 elefantes  incomodam muita gente!
6 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito mais!
7 elefantes  incomodam muita gente!
8 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito mais!
9 elefantes  incomodam muita gente!
10 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito mais!
9 elefantes  incomodam muita gente!
8 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito menos!
7 elefantes  incomodam muita gente!
6 elefantes incomodam, incomodam, incomodam, incomodam, incomodam, incomodam,  muito menos!
5 elefantes  incomodam muita gente!
4 elefantes incomodam, incomodam, incomodam, incomodam,  muito menos!
3 elefantes  incomodam muita gente!
2 elefantes  incomodam, incomodam,  muito mais!
1 elefante incomoda muita gente

In [36]:
conta = []

for i in range(1, 11):
    conta.append(str(i))
   
    print('Mariana conta', i,'\nMariana conta', i,'Mariana conta', i,'\né',' , é '.join(conta))
    print ('Ana, viva a Mariana, viva a Mariana')

Mariana conta 1
Mariana conta 1 Mariana conta 1
é 1
Ana, viva a Mariana, viva a Mariana
Mariana conta 2
Mariana conta 2 Mariana conta 2
é 1 , é 2
Ana, viva a Mariana, viva a Mariana
Mariana conta 3
Mariana conta 3 Mariana conta 3
é 1 , é 2 , é 3
Ana, viva a Mariana, viva a Mariana
Mariana conta 4
Mariana conta 4 Mariana conta 4
é 1 , é 2 , é 3 , é 4
Ana, viva a Mariana, viva a Mariana
Mariana conta 5
Mariana conta 5 Mariana conta 5
é 1 , é 2 , é 3 , é 4 , é 5
Ana, viva a Mariana, viva a Mariana
Mariana conta 6
Mariana conta 6 Mariana conta 6
é 1 , é 2 , é 3 , é 4 , é 5 , é 6
Ana, viva a Mariana, viva a Mariana
Mariana conta 7
Mariana conta 7 Mariana conta 7
é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é 7
Ana, viva a Mariana, viva a Mariana
Mariana conta 8
Mariana conta 8 Mariana conta 8
é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é 7 , é 8
Ana, viva a Mariana, viva a Mariana
Mariana conta 9
Mariana conta 9 Mariana conta 9
é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é 7 , é 8 , é 9
Ana, viva a Mariana, viva a Mariana
Mariana conta 10
Mariana conta 10 Mariana conta 10
é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é 7 , é 8 , é 9 , é 10
Ana, viva a Mariana, viva a Mariana